<a href="https://colab.research.google.com/github/l19060741/Curso-Phyton/blob/main/Anahi_Gonzalez_RepasoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primero empezamos con Tipos de datos:

- Números
- Cadenas
- Listas
- Diccionarios
- Booleanos
- Tuplas
- Conjuntos

# Tipos de datos
## Números

In [ ]:
#Podemos escribir números
1

In [ ]:
# Podemos usar Python como calculadora
1+3

In [ ]:
8/8

1.0

In [ ]:
#Podemos usar todas las operaciones matemáticas
# + (suma)
# * (multiplicación)
# - (resta)
# / (división)
# // (división entero)
# % (módulo)
# ** (elevar a una potencia)
9//4

### Asignación de variables

In [ ]:
# Podemos asignar números (y otros objetos que veremos más adelante) a variables.
var1 = 5

In [ ]:
# Podemos desplegar el contenido de la variable var1
var1

5

In [ ]:
#Podemos imprimir el contenido de la variable var1
print(var1)

5

In [ ]:
# Declarar varias variables
var1 = 5
var2 = 3
var3 = -9

In [ ]:
#Hacer operaciones con las variables
var1+var2

In [ ]:
var3/var2

## Cadenas (Strings)

In [ ]:
'Las cadenas puede ir entre comillas sencillas'

In [ ]:
"También pueden ir entre comillas dobles"

In [ ]:
str_var1 = "Se pueden guardar en variables y se pueden combinar con las otras comillas 'como este ejemplo'"
str_var1

"Se pueden guardar en variables y se pueden combinar con las otras comillas 'como este ejemplo'"

In [ ]:
print('También se pueden imprimir')

También se pueden imprimir

In [ ]:
var1=2
print('Se pueden imprimir cadenas y variables, por ejemplo el número:',3)

Se pueden imprimir cadenas y variables, por ejemplo el número: 3

In [ ]:
str_var1 = 'cadena 1'
print('Esas variables no necesariamente tienen que ser números:', str_var1)

Esas variables no necesariamente tienen que ser números: cadena 1

In [ ]:
print('Hay formas más sofisticadas para pasar las variables, por ejemplo números: {}, u otro tipo de variables: {}'.format(var1,str_var1))

Hay formas más sofisticadas para pasar las variables, por ejemplo números: 2, u otro tipo de variables: cadena 1

In [ ]:
str_var1 = "Podemos concatenar segmentos de texto, como este,"
str_var2 = "y este otro"
str_var1 + str_var2

## Listas

In [ ]:
# Definimos las listas entre cocrchetes, con los elementos separados por comas
[1,2,3]

[1, 2, 3]

In [ ]:
# Las podemos asignar a variables
lista1 = [2,3,4]
# y podemos imprimirla junto con texto
print('Este es un ejemplo de una lista {}'.format(lista1))

Este es un ejemplo de una lista [2, 3, 4]

In [ ]:
# Las listas, además de números, también pueden ser de otro tipo de datos, como cadenas
['a','b','c']

['a', 'b', 'c']

In [ ]:
# Las listas también pueden formarse con diferentes tipos de datos
['a',2,4,'cadena']

['a', 2, 4, 'cadena']

In [ ]:
#Podemos acceder a elementos especificos de listas
lista1 = ['a',2,4,'cadena',8]
lista1[3]  #Indexando el valor que queremos

'cadena'

In [ ]:
#Podemos modificar valores de la lista
lista1[2] = -7
lista1

['a', 2, -7, 'cadena', 8]

In [ ]:
#El indexado de las listas puede ser más sofisticado usando dos puntos (:)
#Este es un ejemplo de tomar desde el índice 0 hasta el 'índice 3-1
lista1[0:3]

['a', 2, -7]

In [ ]:
#Este es un ejemplo de tomar desde el índice 1 hasta el índice 3-1
lista1[1:3]

[2, -7]

In [ ]:
#Este es un ejemplo de tomar desde el inicio hasta el índice 4-1
lista1[:4]

['a', 2, -7, 'cadena']

In [ ]:
# Las listas poseen varias funciones, una muy importante es append, que nos permite agregar elementos nuevos al final de la lista
#Recordemos nuestra lista
lista1

['a', 2, -7, 'cadena', 8]

In [ ]:
# Dado que tenemos una lista que ya existe,
#  con 'append' agregamos nuevos elementos
lista1.append('nuevo')

In [ ]:
lista1

['a', 2, -7, 'cadena', 8, 'nuevo']

In [ ]:
#Podemos definir listas vacías
lista2 = []

In [ ]:
# Si intentamos agregar un valor de esta forma nos marcará error
lista2[0]=2

IndexError: ignored

In [ ]:
#Pero con append no
lista2.append(2)

In [ ]:
#Asi como podemos tener listas de números y de cadenas, también podemos tener listas con listas
lista_con_listas = [1,2,3,[4,5,'cadena',['nueva cadena']]]

In [ ]:
#Para acceder a los elementos ya se vuelve más interesante
lista_con_listas[3][3]

## Diccionarios

In [ ]:
# En los diccionarios, los elementos tienen una llave(key) y un valor (value)
d1 ={'llave1':'valor1','llave2':'valor2','llave3':'valor3' }
d1

In [ ]:
# Para acceder a cada valor, indexamos la llave
d1['llave2']

In [ ]:
# Las llaves no tienen que ser necesariamente texto
d2 ={2:3,5:6,1:-9}
d2

In [ ]:
d2[1]

In [ ]:
# Los valores tampoco esta restringidos a ser números
d3 ={1:[1,2,3],2:'cadena','tres':{1:2,2:3}}
d3

In [ ]:
d3['tres'][2]

In [ ]:
#Podemos definir diccionarios vacíos
d4={}
type(d4)

In [ ]:
# Podemos agregar campos
d4['key1'] = [1,2,3]
d4
#En este caso no marca error como con las listas

## Booleanos

In [ ]:
# Un tipo de dato booleano solo pueden tener dos valores, es Verdadero (True) o Falso (False)
True

In [ ]:
b1 = False

In [ ]:
# Este tipo de datos nos permite hacer comparaciones
True == True

In [ ]:
True == False

In [ ]:
1<5

In [ ]:
2<10

In [ ]:
(1<5) == (2<10)

In [ ]:
(3<1) == (2<10)

## Tuplas

In [ ]:
# Es un tipo de dato inmutable con elementos entre paréntesis separados por comas
t1 = (1,2,3)

In [ ]:
#Podemos regresar uno de sus valores
t1[2]

NameError: ignored

In [ ]:
#Pero no podemos modifcarlo, porque es inmutable
t1[1]=5

## Conjuntos

In [ ]:
# Los conjuntos se definen entre llaves y sus elementos van separados por comas, en este caso, si hay elementos repetidos, solo se cuentan una vez

In [ ]:
# Definimos un conjunto
s1 ={1,2,3}
s1

In [ ]:
# Definimos un conjunto, en el que existen varis elementos repetidos
# pero el tipo de dato conjunto sabe que solo deben ser elementos unicos
s2={'a','a','b','b',2,2,3}
s2

{2, 3, 'a', 'b'}

In [ ]:
type(s2)

set

# Operadores lógicos
- and
- or
- not

In [ ]:
# Con el operador lógico 'and' ambos enunciados deben ser ciertos para regresar True
python_is_cool = (1==1) and (3 < 9)
python_is_cool

True

In [ ]:
# Con el operador lógico 'or' al menos enunciados debe ser cierto para regresar True
(2 > 7) or (3 < 9)

In [ ]:
# Con el operador lógico 'or' al menos enunciados debe ser cierto para regresar True
not(2 > 7)

### Condicionales
- if
- else
- elif

In [ ]:
# El condicional 'if' (si)
x=2
if x<3:
    print('Es menor')

Es menor

In [ ]:
# Else
x=4
if x<3:
    print('Es menor')
else:
    print('Es mayor')

Es mayor

In [ ]:
#Elif
x=3
if x<3:
    print('Es menor')
elif x==3:
    print('Es igual')
else:
    print('Es mayor')

Es igual

### Bucles
- for
- while

In [ ]:
# El for en Python
lista1 = [1,2,3,4,5,6]

for i in lista1:
    print(i)

1
2
3
4
5
6

In [ ]:
# El for en Python con listas con elementos distintos
lista2=['a','b','c','d']
for i in lista2:
    print(i)

In [ ]:
# Usamos range cuando no tenemos una lista sobre cual iterar
range(6)

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
# Enumerate permite iterar tanto con el índice como con el valor
for ix,val in enumerate(lista2):
    print('indice: {}, valor: {}'.format(ix,val))

In [ ]:
# Otro bucle, while
i=1
while i<6:
    print(i)
    i=i+1

### List of comprehension

In [ ]:
# Una forma de construir listas
lista = []
for i in range(6):
    lista.append(i**2)

print(lista)

In [ ]:
# Otra forma usando listas de comprhension
[i**2 for i in range(6)]

### Funciones

In [ ]:
# Definir funciones
def my_func(param='default'):
    print(param)

In [ ]:
my_func()

default

In [ ]:
my_func('hola mundo')

hola mundo

In [ ]:
# Sin paréntesis, se indica que es una función, de hecho se podría pasar 
# como argumento en otra función
my_func

In [ ]:
# Se puede especificar el nombre del parámetro desde que se pasan los valores
my_func(param='hi there')

hi there

In [ ]:
# Las funciones pueden regresar valores
def my_func2(param1,param2):
    return param1*param2

In [ ]:
my_func2(1,1)

1

In [ ]:
# Los resultados de las funciones se pueden almacenar en variables
var1 = my_func2(3,4)
print(var1)

12

In [ ]:
# También pueden regresar tuplas
def my_func3(param1,param2):
    return param1*param2, param1**2, param2**2

In [ ]:
my_func3(3,4)

(12, 9, 16)

In [ ]:
# Las tuplas se pueden almacernar en variables de tipo tupla
var2 = my_func3(3,4)
type(var2)

In [ ]:
# Las tuplas se pueden almacenar en variables independientes
var1,var2,var3 = my_func3(3,4)
print('var1 {}, var2 {}, var3 {}'.format(var1,var2,var3))
type(var1)

var1 12, var2 9, var3 16

int

In [ ]:
# Deben ser el mismo número de variables que el tamaño de la tupla
# de lo contrario hay errores
var1,var2 = my_func3(3,4)

In [ ]:
var1,var2,var3,var4 = my_func3(3,4)

In [ ]:
# Si no nos interesa una variable, podemos usar '_', esto provoca que
# la variable ya no se guarde en ningun lugar y no se marque error
var1,_,var3 = my_func3(3,4)

### Expresiones lambda

In [ ]:
elevar(2)

4

In [ ]:
# Una función lambda es una función pequeña anónima.
# Puede tomar varios argumentos, pero solo una expresión
# lambda arguments : expression
lambda var:var**2

In [ ]:
# Para ejecturla
(lambda var:var**2)(9)

81

In [ ]:
# Podemos guardar la función en una variable
fl = lambda var:var+1
s=fl(2)
s

3

['hola', 'como', 'estas']

(lambda x: x + 1)(2) = lambda 2: 2 + 1

                     = 2 + 1
                     
                     = 3

In [ ]:
#Ejemplo que recibe 3 argumentos
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

### map y filter

In [ ]:
# Definimos una lista
lista1 = [x for x in range(6)]

In [ ]:
def elevar(param):
    return param**2

In [ ]:
# La función 'map' aplica una función a cada item de un iterador (list, tuple etc.)
#  y regresa un iterador
map(elevar,lista1)

In [ ]:
list(map(elevar,lista1))

[0, 1, 4, 9, 16, 25]

In [ ]:
list(map(lambda var:var**2, lista1))

[0, 1, 4, 9, 16, 25]

In [ ]:
# La función 'filter' extrae elementos de un iterador (list, tuple, etc.)
# para los cuales la función regresa True
filter(lambda i:i%2 == 0, lista1)

In [ ]:
a=list(filter(lambda i:i%2 == 0, lista1))
a

[0, 2, 4]

### Algunos métodos útiles

In [ ]:
# Definimos una cadena
cadena = "hola clase de Minería de Datos"

In [ ]:
# Convertimos todos las caracteres a minúsculas
cadena.lower()

In [ ]:
# Convertimos todos las caracteres a mayúsculas
cadena.upper()

In [ ]:
# Separamos la cadena y se regresa en una lista
cadena.split()

['hola', 'clase', 'de', 'Minería', 'de', 'Datos']

In [ ]:
cadena.split()[0][0]

'h'

In [ ]:
# Se puede indicar cual elemento es el que servirá de separador
cadena2 = 'Hola clase de: Minería de datos'
cadena2.split(':')

['Hola clase de', ' Minería de datos']

In [ ]:
# Acceder a un elemento en específico
cadena2.split(':')[1]

' Minería de datos'

In [ ]:
#Definimos un diccionario
diccionario = {'keys1':'value1', 'Keys2':'value2'}
diccionario

{'keys1': 'value1', 'Keys2': 'value2'}

In [ ]:
#Accedemos a las llaves
diccionario.keys()

dict_keys(['keys1', 'Keys2'])

In [ ]:
# Accedemos a todos los items (keys, values)
diccionario.items()

dict_items([('keys1', 'value1'), ('Keys2', 'value2')])

In [ ]:
#Accedemos a los valores
diccionario.values()

dict_values(['value1', 'value2'])

In [ ]:
# Definimos una lista
lista = [1,2,3,4,5]
lista

[1, 2, 3, 4, 5]

In [ ]:
# Sacamos elementos de una lista
lista.pop()

5

In [ ]:
lista

[1, 2, 3, 4]

In [ ]:
# Los valores que se sacan se pueden almacernar en una variable
v=lista.pop()

In [ ]:
# Podemos buscar si un elemento esta dentro de una lista
3 in lista

True

In [ ]:
7 in lista

False